@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';

body {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  @apply bg-black text-white;
}

.bg-gradient {
  background: linear-gradient(269.3deg, #0077fe 2.1%, #00bfe9 93.16%);
}

.text-gradient {
  background: linear-gradient(269.3deg, #0077fe 2.1%, #00bfe9 93.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btn {
  @apply text-white font-bold  hover:scale-105 transition-all duration-200 outline-none;
  @extend .bg-gradient;
  &:disabled {
    background: none;
    @apply hover:scale-100 bg-gray-500;
  }
}
.main-search,
.currency {
  .react-select {
    &__control {
      @apply bg-[#20262F] border-none;
    }
    &__indicator {
      @apply px-1;
    }
    .react-select__value-container {
      @apply pr-0;
    }
    &__menu {
      @apply bg-[#20262F];
      &-list {
        @extend .scrollbar;
      }
    }
    &__option {
      @apply hover:bg-gray-700 cursor-pointer bg-[#20262F] border-t border-gray-700 first:border-0;
    }
  }
}

.main-search {
  @apply w-full;
}

.token-list {
  @apply mt-4;
  .react-tabs {
    &__tab-list {
      @apply bg-[#12151D] flex md:inline-flex gap-2 md:gap-3 cursor-pointer text-xs md:text-base justify-center md:justify-start;
    }
    &__tab {
      @apply px-1 md:px-4 py-2 rounded-lg outline-none;
      &:hover,
      &.react-tabs__tab--selected {
        @extend .bg-gradient;
      }
    }
    &__tab-panel {
      @apply max-h-60 overflow-auto;
      @extend .scrollbar;
    }
  }
}

.home-list {
  @apply mt-4 text-center;
  .react-tabs {
    &__tab-list {
      @apply bg-[#12151D] flex md:inline-flex gap-2 md:gap-3 cursor-pointer text-xs md:text-base justify-center;
    }
    &__tab {
      @apply px-1 md:px-4 py-2 rounded-lg outline-none;
      &:hover,
      &.react-tabs__tab--selected {
        @extend .bg-gradient;
      }
    }
    &__tab-panel {
      @apply max-h-60 overflow-auto text-left;
      @extend .scrollbar;
    }
  }
}

.scrollbar::-webkit-scrollbar {
  @apply w-[3px] h-[3px] bg-[#3B3B3C] rounded-full;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-blue-500;
}

.token-table {
  @apply w-full text-sm;
  th,
  td {
    @apply py-2 text-center;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      @apply md:text-right;
    }
  }

  tr {
    &:nth-child(odd) {
      td {
        @apply bg-[#12151D] text-red-600;
      }
    }
    &:nth-child(even) {
      td {
        @apply text-green-600;
      }
    }
  }
  th {
    @apply font-normal text-gray-500 py-4;
  }
  td {
    @apply px-2;
    p {
      &:nth-child(2) {
        @apply text-xs -mt-1;
      }
    }
    &:last-child {
      p {
        @extend .text-gradient;
      }
    }
  }
}

.wallet-table {
  @apply w-full text-xs bg-[#181A25] rounded-xl mt-4;
  td,
  th {
    @apply text-left px-4 py-3;
  }
  tbody {
    tr {
      @apply border-t border-gray-700;
    }
  }
  td {
    p {
      &:first-child {
        @apply font-bold;
      }
      &:nth-child(2) {
        @apply text-gray-500 text-xs mt-0.5;
      }
    }
  }
}

.result-table {
  @apply mt-4 text-sm w-full;
  th,
  td {
    @apply px-2 py-1;
  }
  th {
    &:first-child,
    &:nth-child(2) {
      width: 45%;
    }
    @apply text-center bg-[#181A25];
  }
  td {
    @apply text-center border border-[#181a25] text-sm;
    p {
      &:nth-child(2) {
        @apply text-xs text-gray-500;
      }
    }
    &:nth-child(2) {
      p {
        &:nth-child(2) {
          @apply text-green-500;
        }
      }
    }
    &:last-child {
    }
  }
}
